{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block styles %} <link rel="stylesheet" href="../static/styles/about.css"> {% endblock %}

{% block content %}
    <div class="about">
        <div class="left">
            <h2>CloudCollab</h2>
        </div>
        <div class="right">
            <h3>About Us</h3>
            <p>CloudCollab, a cloud-enabled collaborative document editing platform revolutionising document collaboration by harnessing the power of cloud technology. With instant global access, real-time editing and track changes, it empowers seamless teamwork, eradicating version control woes. Overcoming geographical barriers, it enables remote collaboration, fostering efficient cooperation irrespective of physical locations. This innovative platform redefines productivity and efficiency in document collaboration.</p>
            <h4>Our Team</h4>
            <div class="team">
                <a href="">Narayana</a>
                <a href="">Roshan</a>
                <a href="">Subramanyam</a>
                <a href="">Kishore</a>
            </div>
        </div>
    </div>
{% endblock %}