{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block styles %} <link rel="stylesheet" href="../static/styles/faq.css"> {% endblock %}

{% block content %}
    <h1>Frequently Asked Questions</h1>
    <div class="faqs">
        <div class="each">
            <h3>1. Question 1?</h3>
            <p>Answer1</p>
        </div>
        <div class="each">
            <h3>1. Question 1?</h3>
            <p>Answer1</p>
        </div>
        <div class="each">
            <h3>1. Question 1?</h3>
            <p>Answer1</p>
        </div>
        <div class="each">
            <h3>1. Question 1?</h3>
            <p>Answer1</p>
        </div>
    </div>
{% endblock %}